.header {
  width: 100%;
  height: 100vh;
  background-color: #dfdfdf;
  overflow: hidden;
}

.header a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.header__section {
  display: flex;
  align-items: center;
  width: 65%;
  color: black;
  flex-direction: column;
}

.header .type {
  text-align: center;
}

.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
}

.header__ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.header__ul li:first-child {
  margin-left: 0;
}

.header__section h1 {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__section p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
  color: #000;
}

.type {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

.header {
  background: #D0D6FA;
  background: -webkit-linear-gradient(top, #D0D6FA, #F5CED1);
  background: -moz-linear-gradient(top, #D0D6FA, #F5CED1);
  background: linear-gradient(to bottom, #D0D6FA, #F5CED1);
}

.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.downArrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
}

.header .arrow {
  margin: auto;
  display: block;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@media (min-width: 1000px) {

  .btn-outline:hover {
    color: white;
    background-color: #ff4a57;
  }
  
  .header__ul li:hover {
    background-color: #ff4a57;
  }
}

@media (max-width: 1250px) and (min-width: 1001px) {
  
  .header .col-6 {
    width: 50%;
  }

  .header .btn-outline {
    color: black;
  }

  .header__section h1 {
    font-size: 45px;
  }

  .header__section {
    width: 70%;
  }
}

@media (max-width: 1000px) {

  .header .btn-outline {
    color: black;
  }

  .header__section {
    width: 80%;
  }

  .header__section h1 {
    font-size: 40px;
  }

  .header__section p {
    font-size: 25px;
  }
  
  .type {
    font-size: 25px;
  }
}

@media (max-width:800px) {

  .header__section {
    width: 100%;
  }

  .header__section h1 {
    font-size: 30px;
    text-align: center;
  }

  .header__section p {
    font-size: 15px;
  }
  
  .type {
    font-size: 15px;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media (max-width: 500px) {

  .header__section {
    margin-bottom: 20px;
  }
}