.skill {
  background: white;
  color: #fff;
  width: 100%;
  padding-top: 100px;
}

.skill-row {
  display: flex;
  width: 90%;
  padding: 0 50px 0 50px;
  margin: 0 auto;
}

.skill-bars-fat {
  list-style: none;
  margin: var(--vspace-2) 0 var(--vspace-1);
  color: #000;
  width: 90%;
  margin-top: 40px;
}

.skill-bars-fat li {
  height: 10px;
  background: #dfdfdf;
  margin-bottom: 50px;
  padding: 0;
  position: relative;
  color: #000;
}

.skill-bars-fat li strong {
  font-family: var(--font-1);
  font-weight: 600;
  color: var(--color-text-dark);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: calc(var(--text-size) * 0.7778);
  line-height: 1rem;
  position: absolute;
  top: -1.2rem;
  left: 0;
  color: #000;
}

.skill-bars-fat li h6 {
  font-family: var(--font-1);
  font-weight: 600;
  color: var(--color-text-dark);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: calc(var(--text-size) * 0.7778);
  line-height: 1rem;
  position: absolute;
  top: -1.2rem;
  right: 0;
  color: #000;
}

.skill-bars-fat li .progress {
  background: var(--color-gray-3);
  position: relative;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  color: #000;
}

.skill-bars-fat li .progress::before {
  content: "";
  display: block;
  height: 100%;
  background-color: #1f2235;
  color: #000;
}

.skill-bars-fat li .percent5::before {
  width: 5%;
}

.skill-bars-fat li .percent10::before {
  width: 10%;
}

.skill-bars-fat li .percent15::before {
  width: 15%;
}

.skill-bars-fat li .percent20::before {
  width: 20%;
}

.skill-bars-fat li .percent25::before {
  width: 25%;
}

.skill-bars-fat li .percent30::before {
  width: 30%;
}

.skill-bars-fat li .percent35::before {
  width: 35%;
}

.skill-bars-fat li .percent40::before {
  width: 40%;
}

.skill-bars-fat li .percent45::before {
  width: 45%;
}

.skill-bars-fat li .percent50::before {
  width: 50%;
}

.skill-bars-fat li .percent55::before {
  width: 55%;
}

.skill-bars-fat li .percent60::before {
  width: 60%;
}

.skill-bars-fat li .percent65::before {
  width: 65%;
}

.skill-bars-fat li .percent70::before {
  width: 70%;
}

.skill-bars-fat li .percent75::before {
  width: 75%;
}

.skill-bars-fat li .percent80::before {
  width: 80%;
}

.skill-bars-fat li .percent85::before {
  width: 85%;
}

.skill-bars-fat li .percent90::before {
  width: 90%;
}

.skill-bars-fat li .percent95::before {
  width: 95%;
}

.skill-bars-fat li .percent100::before {
  width: 100%;
}

@media (max-width: 1000px) {
  
  .skill-row {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
  }
  
  .skill-bars-fat {
    list-style: none;
    margin: var(--vspace-2) 0 var(--vspace-1);
    color: #000;
    width: 100%;
    margin-top: 40px;
  }
}

@media (max-width: 1250px) and (min-width: 1001px) {
  .skill-row {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
}

@media (max-width: 480px) {

  .skill-bars-fat li strong {
    letter-spacing: 0.1em;
    font-size: 14px;
  }

  .skill-bars-fat li h6 {
    letter-spacing: 0.1em;
    font-size: 14px;
  }
}